<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.conf.admin.dao.XxlConfNodeDao">
	
	<resultMap id="xxlConfNode" type="com.xxl.conf.admin.core.model.XxlConfNode" >
		<result column="env" property="env" jdbcType="VARCHAR" />
		<result column="key" property="key" jdbcType="VARCHAR" />
		<result column="appname" property="appname" jdbcType="VARCHAR" />
	    <result column="title" property="title" jdbcType="VARCHAR" />
	    <result column="value" property="value" jdbcType="VARCHAR" />
		<association column="{env=env,key=key}" property="logList"  select="com.xxl.conf.admin.dao.XxlConfNodeLogDao.findByKey"/>
	</resultMap>

	<sql id="Base_Column_List">
		t.`env`,
		t.`key`,
		t.`appname`,
		t.`title`,
		t.`value`
	</sql>

	<select id="pageList" parameterType="java.util.Map" resultMap="xxlConfNode">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_conf_node AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="env != null and env != '' ">
				AND t.env = #{env}
			</if>
			<if test="appname != null and appname != '' ">
				AND t.appname = #{appname}
			</if>
			<if test="key != null and key != '' ">
				AND t.key like CONCAT('%',#{key},'%')
			</if>
		</trim>
		ORDER BY t.key
		LIMIT #{offset}, #{pagesize}
	</select>

	<select id="pageListCount" parameterType="java.util.Map" resultType="int">
		SELECT count(1)
		FROM xxl_conf_node AS t
		<trim prefix="WHERE" prefixOverrides="AND | OR" >
			<if test="env != null and env != '' ">
				AND t.env = #{env}
			</if>
			<if test="appname != null and appname != '' ">
				AND t.appname = #{appname}
			</if>
			<if test="key != null and key != '' ">
				AND t.key like CONCAT('%',#{key},'%')
			</if>
		</trim>
	</select>

	<delete id="delete" parameterType="java.util.Map" >
		DELETE FROM xxl_conf_node
		WHERE `env` = #{env} AND `key` = #{key}
	</delete>
	
	<insert id="insert" parameterType="com.xxl.conf.admin.core.model.XxlConfNode" >
		INSERT INTO xxl_conf_node(
			`env`,
			`key`,
			`appname`,
			`title`,
			`value`
		)
		VALUES(
			#{env},
			#{key},
			#{appname},
			#{title},
			#{value}
		)
	</insert>
	
	<select id="load" parameterType="java.lang.String" resultMap="xxlConfNode">
		SELECT <include refid="Base_Column_List" />
		FROM xxl_conf_node AS t
		WHERE t.`env` = #{env} AND t.`key` = #{key}
	</select>
	
	<update id="update" parameterType="com.xxl.conf.admin.core.model.XxlConfNode" >
		UPDATE xxl_conf_node 
		SET `title` = #{title},
			`value` = #{value}
		WHERE `env` = #{env} AND `key` = #{key}
	</update>
	
</mapper>
