<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="fileEncoding" value="utf-8" />
		<!--<property name="ignoreResourceNotFound" value="true" />
		<property name="order" value="1"/>
		<property name="ignoreUnresolvablePlaceholders" value="true" />-->
		<property name="locations">
			<list>
				<value>classpath*:xxl-conf-admin.properties</value>
			</list>
		</property>
	</bean>

	<!-- ********************************* part 1 :for datasource ********************************* -->

	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init"
		  destroy-method="close">
		<property name="driverClassName" value="${xxl.conf.admin.jdbc.driverClass}" />
		<property name="url" value="${xxl.conf.admin.jdbc.url}" />
		<property name="username" value="${xxl.conf.admin.jdbc.username}" />
		<property name="password" value="${xxl.conf.admin.jdbc.password}" />
		<property name="initialSize" value="20"/>
		<property name="minIdle" value="20"/>
		<property name="maxActive" value="50"/>
		<!-- 配置获取连接等待超时的时间 -->
		<property name="maxWait" value="60000"/>
		<!-- 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒 -->
		<property name="timeBetweenEvictionRunsMillis" value="60000"/>
		<!-- 配置一个连接在池中最小生存的时间，单位是毫秒 -->
		<property name="minEvictableIdleTimeMillis" value="300000"/>
		<property name="validationQuery" value="SELECT 1"/>
		<property name="testWhileIdle" value="true"/>
		<property name="testOnBorrow" value="true"/>
		<property name="testOnReturn" value="true"/>
		<!-- 打开PSCache，并且指定每个连接上PSCache的大小 -->
		<property name="poolPreparedStatements" value="false"/>
		<property name="maxPoolPreparedStatementPerConnectionSize" value="20"/>
		<!-- 配置监控统计拦截的filters -->
		<!--<property name="filters" value="stat"/>-->
		<property name="filters" value="mergeStat"/>
		<property name="removeAbandoned" value="true"/>
		<!-- 打开removeAbandoned功能 -->
		<property name="removeAbandonedTimeout" value="1800"/>
		<!-- 1800秒，也就是30分钟 -->
		<property name="logAbandoned" value="true"/>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath:mybatis-mapper/*.xml"/>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
		<property name="basePackage" value="com.xxl.conf.admin.dao" />
	</bean>

	<!-- ********************************* part 2 :for tx ********************************* -->

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>

</beans>