<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMainMapper">
	
	<resultMap id="ZNodeEntry" type="com.xxl.core.model.UserMain" >
	    <result column="user_name" property="userName" jdbcType="VARCHAR" />
	    <result column="password" property="password" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		t.user_name,
		t.password
	</sql>
	
	<select id="selectByPwd" parameterType="java.util.HashMap" resultMap="ZNodeEntry">
		SELECT <include refid="Base_Column_List" />
		FROM user_main AS t
		WHERE t.user_name = #{userName} and t.password = #{password}
	</select>
	
</mapper>