<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/util 
           http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 启动Spring注解功能 -->
	<context:annotation-config />
	<!-- 配置bean作用域 -->
	<context:component-scan base-package="com.xxl.service.impl, com.xxl.dao.impl" />

	<!-- FreeMarker配置 (用处：springMvc视图解析器/生成HTML文件/邮件模板.生成HTML字符串) -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<!-- FreeMarker属性配置 -->
		<property name="freemarkerSettings">
			<bean id="freemarkerPropertiesBean"
				class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="location" value="classpath:freemarker.properties" />
			</bean>
		</property>
		<property name="templateLoaderPath" value="/WEB-INF/template/" />		<!-- 模板文件所在目录 -->
	</bean>
	
	<bean id="config1" class="com.xxl.core.constant.Configuration">
		<property name="key01" value="${xxl-cfg-demo.key01}" />
		<property name="key02" value="${xxl-cfg-demo.key02}" />
		<property name="key03" value="${${xxl-cfg-demo.key03}}" />
	</bean>

	<bean id="xxlCfgPostProcessor" class="com.xxl.cfg.spring.XxlCfgPostProcessor">
        <property name="localPropPath" value="local.properties" />
    </bean>

</beans>