<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<!-- XXL-CONF配置解析器 -->
	<bean id="xxlConfPropertyPlaceholderConfigurer" class="com.xxl.conf.core.spring.XxlConfPropertyPlaceholderConfigurer" />

	<!-- XML占位符方式使用示例,可删除 -->
	<bean id="configuration" class="com.xxl.conf.example.core.constant.Configuration">
		<property name="paramByXml" value="${default.key01}" />
	</bean>

</beans>