<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.conf.admin.mapper.ConfDataLogMapper">

    <resultMap id="ConfDataLog" type="com.xxl.conf.admin.model.entity.ConfDataLog" >
        <result column="id" property="id" />
        <result column="data_id" property="dataId" />
        <result column="value" property="value" />
        <result column="opt_username" property="optUsername" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        t.`id`,
        t.`data_id`,
        t.`value`,
        t.`opt_username`,
        t.`add_time`,
        t.`update_time`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO xxl_conf_data_log (
            `data_id`,
            `value`,
            `opt_username`,
            `add_time`,
            `update_time`
        )
        VALUES(
                  #{confDataLog.dataId} ,
                  #{confDataLog.value} ,
                  #{confDataLog.optUsername} ,
                  NOW() ,
                  NOW()
              )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM xxl_conf_data_log
        WHERE `id` in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE xxl_conf_data_log
        SET
            `data_id` = #{confDataLog.dataId},
            `value` = #{confDataLog.value},
            `opt_username` = #{confDataLog.optUsername},
            `update_time` = NOW()
        WHERE `id` = #{confDataLog.id}
    </update>

    <select id="load" parameterType="java.util.Map" resultMap="ConfDataLog">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_conf_data_log AS t
        WHERE t.`id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="ConfDataLog">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_conf_data_log AS t
        WHERE t.`data_id` = #{dataId}
        ORDER BY t.`id` DESC
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM xxl_conf_data_log AS t
        WHERE t.`data_id` = #{dataId}
    </select>

</mapper>
