<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="freemarkerConfig"	class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<!-- FreeMarker属性配置 -->
		<property name="freemarkerSettings">
			<bean id="freemarkerPropertiesBean"
				class="org.springframework.beans.factory.config.PropertiesFactoryBean">
				<property name="location" value="classpath:freemarker.properties" />
			</bean>
		</property>
		<property name="templateLoaderPath" value="/WEB-INF/template/" />		<!-- 模板文件所在目录 -->
	</bean>

</beans>