<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxl.conf.admin.mapper.AccessTokenMapper">

    <resultMap id="AccessToken" type="com.xxl.conf.admin.model.entity.AccessToken" >
        <result column="id" property="id" />
        <result column="access_token" property="accessToken" />
        <result column="status" property="status" />
        <result column="add_time" property="addTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        t.`id`,
        t.`access_token`,
        t.`status`,
        t.`add_time`,
        t.`update_time`
    </sql>

    <insert id="insert" parameterType="java.util.Map" >
        INSERT INTO xxl_conf_access_token (
            `access_token`,
            `status`,
            `add_time`,
            `update_time`
        )
        VALUES(
              #{accessToken.accessToken} ,
              #{accessToken.status} ,
              NOW() ,
              NOW()
          )
    </insert>

    <delete id="delete" parameterType="java.util.Map" >
        DELETE FROM xxl_conf_access_token
        WHERE `id` in
        <foreach collection="ids" item="item" open="(" close=")" separator="," >
            #{item}
        </foreach>
    </delete>

    <update id="update" parameterType="java.util.Map" >
        UPDATE xxl_conf_access_token
        SET
            `status` = #{accessToken.status},
            `update_time` = NOW()
        WHERE `id` = #{accessToken.id}
    </update>

    <select id="load" parameterType="java.util.Map" resultMap="AccessToken">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_conf_access_token AS t
        WHERE t.`id` = #{id}
    </select>

    <select id="pageList" parameterType="java.util.Map" resultMap="AccessToken">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_conf_access_token AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="accessToken != null and accessToken != ''">
                AND t.access_token like CONCAT(CONCAT('%', #{accessToken}), '%')
            </if>
        </trim>
        ORDER BY t.`id` desc
        LIMIT #{offset}, #{pagesize}
    </select>

    <select id="pageListCount" parameterType="java.util.Map" resultType="int">
        SELECT count(1)
        FROM xxl_conf_access_token AS t
        <trim prefix="WHERE" prefixOverrides="AND | OR" >
            <if test="accessToken != null and accessToken != ''">
                AND t.access_token like CONCAT(CONCAT('%', #{accessToken}), '%')
            </if>
        </trim>
    </select>

    <select id="queryValidityAccessToken" parameterType="java.util.Map" resultMap="AccessToken">
        SELECT <include refid="Base_Column_List" />
        FROM xxl_conf_access_token AS t
        WHERE t.`status` = #{status}
    </select>

</mapper>
